<link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />

<div class="box">
    <div class="tweetTitle">
        <div class="titleImg">
            <img src="https://picsum.photos/400/400" alt="">
        </div>
        <div class="profilename">
            <a>Sedat Sakmar</a>
            <a href="" class="username">Toqtir_</a>
        </div>
        @*        <div class="profilesett">
            <span class="timer">3s</span>
            </div>*@
    </div>
    <div class="row2">
        <div class="tweetContent">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, eius impedit saepe cum vero sequi quia
                aperiam magnam qui et?
            </p>
        </div>
        <div class="tweetNav">
            <li>
                <a id="comment" href="#"><i class="far fa-comment"></i></a>
            </li>
            <li>
                <a href=""><i class="fas fa-retweet"></i></a>
            </li>
            <li>
                <a href=""><i class="far fa-heart"></i></a>
            </li>
            <li>
                <a href=""><i class="fas fa-share-square"></i></a>
            </li>
        </div>
    </div>
</div>

