<div class="footer">
    <div class="policy">
        <a href="#">Hizmet Şartları</a>
        <a href="#">Gizlilik Politikası</a>
        <a href="#">Çerez Politikası</a>
    </div>
    <div class="policy2">
        <a href="#">İletişim Bilgileri</a>
        <a href="#">Erişilebilirlik</a>
        <a href="#">Reklam bilgisi</a>
    </div>
    <div class="policy3">
        <a href="Daha fazla ..."></a>
        <span>© @((DateTime.Now).ToString("yyy")) Twitter, Inc.</span>
    </div>
</div>