<div class="popbox">
    <div class="x">
        <a href=""><i class="fas fa-times"></i></a>
    </div>
    <div class="popchat">
        <img src="https://pbs.twimg.com/profile_images/1460701250643759106/HrBxj5bQ_400x400.jpg" alt="">
        <div class="chatarea">
            <textarea type="textarea" name="" class="txtarea" placeholder="Neler oluyor?"></textarea>
            <a href="" class="everyoneResponse">Herkes yanıtlayabilir</a>

            <div class="popfooter">
                <div class="popnav">
                    <a href=""><i class="fas fa-image"></i></a>
                    <a href=""><i class="fas fa-calendar-week"></i></a>
                    <a href=""><i class="fas fa-poll-h"></i></a>
                    <a href=""><i class="fas fa-smile"></i></a>
                </div>
                <a class="buttontweeti" href="">Tweetle</a>
            </div>
        </div>
    </div>
</div>