<form asp-controller="Search" asp-action="Index" method="POST">
    <div class="search">
        <input type="text" placeholder="&#xF002 Twitter'da Ara" style="font-family:Arial, FontAwesome" name="query">
        <button type="submit"></button>
    </div>
</form>


