<div class="explore1">
    <form asp-controller="Search" asp-action="Index" method="POST">
        <div class="search1">
            <input type="text" placeholder="&#xF002 Twitter'da Ara" style="font-family:Arial, FontAwesome" name="query">
        </div>
    </form>
    <div class="searchbg">
        <div class="list">
            <li>
                <a href="">Popüler</a>
                <a href="">En Son</a>
                <a href="">Kişiler</a>
                <a href="">Fotoğraflar</a>
                <a href="">Videolar</a>
            </li>
        </div>
    </div>
</div>

