<div class="tweetinterest">
    <div class="top">
        <h6>İlgini çekebilecek gündemler <i class="fas fa-cog"></i></h6>
    </div>
    <div class="toptrend">
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Kocaeli</a>
                <a href="">41,5 B Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Kocaeli</a>
                <a href="">41,5 B Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Kocaeli</a>
                <a href="">41,5 B Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Kocaeli</a>
                <a href="">41,5 B Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Kocaeli</a>
                <a href="">41,5 B Tweet</a>
            </div>
        </li>
        <li class="endmore">
            <div class="more">
                <a href="">Daha fazla göster</a>
            </div>
        </li>
    </div>
</div>