<div class="tweetinterest">
    <div class="top">
        <h6>İlgini çekebilecek gündemler <i class="fas fa-cog"></i></h6>
    </div>
    <ul class="toptrend">
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Kocaeli</a>
            </div>
            <a href="">41,5 B Tweet</a>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">İstanbul</a>
            </div>
            <a href="">41,5 B Tweet</a>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Hatay</a>
            </div>
            <a href="">41,5 B Tweet</a>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Bolu</a>
            </div>
            <a href="">41,5 B Tweet</a>
        </li>
        <li>
            <div class="tr">
                <a href="">Türkiye Konumunda gündemde</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Adana</a>
            </div>
            <a href="">41,5 B Tweet</a>
        </li>
    </ul>
    <div class="more">
        <a href="">Daha Fazla Göster</a>
    </div>

</div>